<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Uploader</servlet-name>
        <servlet-class>up.Uploader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Videoacceuil</servlet-name>
        <servlet-class>servlet.Videoacceuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Videoprofil</servlet-name>
        <servlet-class>servlet.Videoprofil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changemdp</servlet-name>
        <servlet-class>servlet.Changemdp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepseudo</servlet-name>
        <servlet-class>servlet.Changepseudo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Uploader</servlet-name>
        <url-pattern>/Uploader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Videoacceuil</servlet-name>
        <url-pattern>/Videoacceuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Videoprofil</servlet-name>
        <url-pattern>/Videoprofil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changemdp</servlet-name>
        <url-pattern>/Changemdp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepseudo</servlet-name>
        <url-pattern>/Changepseudo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
